<div id="container">
   <div class="wrapper">
      <div class="title">
         <div class="power-usage-text">Power usage</div>
         <div class="material-icons helper-icon">info_outline</div>
         <div class="material-icons more-icon">more_vert</div>
      </div>

      <div class="subTitle">&euro;{{totalMoney}} ~ {{totalElectricity}}
         kWh
      </div>
   </div>
   <app-power-usage-chart></app-power-usage-chart>

   <mat-divider class="charts-divider"></mat-divider>

   <div class="wrapper">
      <div class="title">
         <div class="power-usage-text">Trends</div>
         <div class="material-icons helper-icon">info_outline</div>
         <div class="material-icons more-icon">more_vert</div>
      </div>
      <div class="subTitle">Last 3 months</div>
   </div>
   <app-usage-trends-chart></app-usage-trends-chart>
</div>
