.power-usage-description-wrapper {
   display: inline-block;
   text-align: left;
   padding-top: 1rem;
}

.power-usage-text {
   font-size: x-large;
   color: var(--ion-color-primary);
}

.helper-icon {
   color: var(--ion-color-primary);
   padding-left: 0.5rem;
}

.more-icon {
   color: var(--ion-color-medium-shade);
   padding-left: 2rem;
}

.consumption-text {
   color: var(--ion-color-medium-shade);
}

.trends-description-wrapper {
   display: inline-block;
   padding-top: 1rem;
}

.mat-divider {
   margin-left: 10%;
   margin-right: 10%;
}
