<div>
   <span class="quick-status-text">Quick status</span>
   <span class="material-icons refresh-icon">
      refresh
   </span>
</div>
<div class="system-status">

   <div class="section-wrapper">
      <div class="block-item blue-icon">
         <span class="material-icons status-icon">done</span>
      </div>
      <div class="block-item">
         <div class=item-header>Security system</div>
         <div class="item-description">
            No issues found
         </div>
      </div>
   </div>

   <div class="section-wrapper">
      <div class="block-item blue-icon">
         <span class="material-icons status-icon">timeline</span>
      </div>
      <div class="block-item">
         <div class=item-header>124.23 kWh</div>
         <div class="item-description">
            Monthly power consumption
         </div>
      </div>
   </div>

   <div class="section-wrapper">
      <div class="block-item blue-icon">
         <span class="material-icons status-icon">battery_charging_full</span>
      </div>
      <div class="block-item">
         <div class=item-header>Backup battery: 76%</div>
         <div class="item-description">
            1h and 34 sec until full charge
         </div>
      </div>
   </div>


   <div class="section-wrapper">
      <div class="block-item warning-icon">
         <span class="material-icons status-icon">warning</span>
      </div>
      <div class="block-item">
         <div class=item-header>Firmware update</div>
         <div class="item-description">
            Available for your Bosch BHI160BP
         </div>
      </div>
   </div>
</div>
