.room-name {
   padding-left: 1rem;
   font-size: larger;
   vertical-align: super;
}

.small-icon {
   width: 20px;
   height: 20px;
   opacity: 50%;
}

.room-statistics {
   padding-top: .5rem;
   color: #6c757d;
   text-align: left;
   font-size: small;
}

.room-header {
   text-align: left;
   padding-left: 10px;
   width: 19rem;
}

.room-stat {
   padding-right: 1rem;
}

.room-image {
   width: 24px;
   height: 24px;
}

.room-wrapper {
   border: 1px solid rgba(0, 0, 0, .03);
   box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
   padding: 1rem 1.5rem;
}
