<div *ngIf="roomData"
     class="inline-block room-wrapper">
   <div class="room-header">
      <img [src]="roomData.headerImage" alt="Room icon">
      <span class="room-name">{{ roomData.title }}</span>
   </div>
   <div class="room-statistics">
      <div class="inline-block room-stat">
         <img class="small-icon"
              [src]="'./assets/app-icons/temperature-icon.svg'"
              alt="Temperature icon">
         {{roomData.temperature}} &ordm;C
      </div>
      <div class="inline-block room-stat">
         <img class="small-icon"
              [src]="'./assets/app-icons/water-drop.svg'"
              alt="Water drop">
         {{roomData.humidity}}%
      </div>
      <div class="inline-block room-stat">
         <img class="small-icon"
              [src]="'../../../../assets/app-icons/electricity-icon.svg'"
              alt="Electricity icon">
         {{roomData.electricity}} kWh
      </div>
      <div class="inline-block room-stat">
         <img class="small-icon"
              [src]="'./assets/app-icons/lamp-icon.svg'"
              alt="Electricity icon">
         {{roomData.lampPower}} lm
      </div>
   </div>
</div>
